
{{ $context := .context }}
{{ $attrs := .attrs }}
{{ $attrlist := slice }}
<div x-data="filtered()" x-init="init()">

<ul class="filter-attr-container">

{{ range $attrs }}
    {{ if eq . ".Section" }}
    <li class="filter-attr">
        <span class="filter-attr-title">.Section</span>
        <ul class="filter-attr-val-list">
        {{ range site.Home.Sections }}
            {{ $attrlist = $attrlist | append (print ".section__" .Section)}}
            <li class="filter-attr-val">{{(print ".section__" .Section)}}</li>
        {{ end }}
        </ul>
    </li>
    {{ else if eq . ".Type" }}
    <li class="filter-attr">
        <span class="filter-attr-title">.Type</span>
        <ul class="filter-attr-val-list">
        {{ range site.RegularPages }}
            {{ if not (in $attrlist (print ".type__" .Type) )}}
            {{ $attrlist = $attrlist | append (print ".type__" .Type ) }}
            <li class="filter-attr-val">{{(print ".type__" .Type )}}</li>
            {{ end }}
        {{ end }}
        </ul>
    </li>
    {{ else if eq . ".Kind" }}
    <li class="filter-attr">
        <span class="filter-attr-title">.Kind</span>
        <ul class="filter-attr-val-list">
        {{ range site.RegularPages }}
            {{ if not (in $attrlist (print ".kind__" .Kind) )}}
            {{ $attrlist = $attrlist | append (print ".kind__" .Kind ) }}
            <li class="filter-attr-val">{{(print ".kind__" .Kind )}}</li>
            {{ end }}
        {{ end }}
        </ul>
    </li>
    {{ end }}
{{ end }}
</ul>
<ul class="filter-attr-container">
{{ range $term, $taxonomy := site.Taxonomies }}
{{ if in $attrs $term }}
<li class="filter-attr">
    <span class="filter-attr-title">{{ $term }}</span>
    <ul class="filter-attr-val-list">
        {{ range $key, $value := $taxonomy }}
        <li class="filter-attr-val" @click="toggle('{{$term}}', '{{$key}}')" x-bind:class="checkActive(['{{(print $term "__" (urlize $key))}}'])">
            {{(site.GetPage (print $term "/" $key )).Title}}
            {{ $attrlist = $attrlist | append (print $term "__" (urlize $key)) }}
        </li>
        {{ end }}
    </ul>
</li>
    {{ end }}
{{ end }}
</ul>
<hr>