
{{ $pages := slice }}
{{ $attrs := slice }}
{{ $context := .context }}
{{ $hide := "pfilter-hide" }}

{{ with .pages }}
    {{ $pages = . }}
{{ else }}
    {{ $pages = site.RegularPages }}
{{ end }}

{{ with .hideclass }}
    {{ $hide = . }}
{{ end }}

{{ with .attrs }}
    {{ $attrs = . }}
{{ else }}
    {{ $attrs = slice "tags" ".Section" ".Type" ".Kind" }}
{{ end }}

{{ $options := (dict "pages" .pages "context" . "attrs" $attrs "hideclass" $hide ) }}
{{ partial "pfilter/style.html" $options }}
{{ partial "pfilter/attrs.html" $options }}
{{ partial "pfilter/pages.html" $options }}