<style>

    .filter-attr-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }
    .filter-attr {
        border: 1px solid #ddd;
        list-style-type: none;
        margin: .5rem;
        padding: 1rem;
        flex: 1 1 auto;
    }
    .filter-attr-title {
        font-size: 120%;
        margin: .25rem;;
    }
    .filter-attr-val-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .filter-attr-val {
        background-color: aliceblue;
        border: 1px solid #ccc;
        padding: .25rem;
        margin: .25rem;
        min-width: 100px;
        flex: 1 1 auto;
        text-align: center;
        cursor: pointer;
    }
    .filter-attr-val:hover {
        background-color: #ddd;
        border-color: #bbb;
    }
    .violet {
        background: violet;
    }
    .blue {
        color: blue;
    }
    .orange {
        color: orange;
    }
        
</style>